%table.table.my-5.table-striped
  %thead.table-success
    %tr
      %th Admin
      %th Group name
      %th Description
      %th{:colspan => "3"}
  %tbody.table-highlight
    - @groups.each do |group|
      %tr
        %td.h5.align-middle= group.admin.username
        %td.h5.align-middle= group.group_name
        %td.h5.align-middle.py-4= group.description
        %td.align-middle= button_to 'Details', { action: 'show', controller: 'groups', id: group.id }, method: :get, class: "btn btn-outline-info"