= form_for [event, attendee] do |f|
  - if attendee.errors.any?
    #error_explanation
      %h2
        = pluralize(attendee.errors.count, "error")
        prohibited this attendee from being saved:
      %ul
        - attendee.errors.full_messages.each do |message|
          %li= message
  .actions
    .row
      .col-12.text-center
        = f.submit "RSVP to this event!", class: "btn btn-primary"
